.bac{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  z-index: 1;
}
/* .bac::after{
  content: "";
  height: 100%;
  width: 100%;
  filter: blur(10px);
  position: absolute;
  background: inherit;
  z-index: 1;
} */
